a(href="http://www.incd.pt/",target="_blank")
	.incd
.eu
	.logo
	p This project has received funding from the European Union’s Horizon 2020 research and innovation programme under grant agreement No 676559.
a(href="https://biodata.pt/",target="_blank")
	.biodata
.elixir
.excelerate