a(href="http://www.incd.pt/",target="_blank")
	.incd
.eu
	.logo
	p This project has received funding from the European Union’s Horizon 2020 research and innovation programme under grant agreement No 676559.
a(href="https://biodata.pt/",target="_blank")
	.biodata
a(href="https://biodata.pt/about_elixirpt",target="_blank")
	.elixir
a(href="https://www.elixir-europe.org/about-us/how-funded/eu-projects/excelerate",target="_blank")		
	.excelerate