link(rel='stylesheet',href='/stylesheets/sidePanel.css')
.sidePanel
	.tableShortcut 
		.text Trial
	.tableShortcut 
		.text Study
	.tableShortcut
		.text ObservationVariables
	.tableShortcut
		.text Observations
	.tableShortcut
		.text StudyPlot
	.tableShortcut
		.text StudyPlant
	.tableShortcut
		.text ObservationUnit
	.tableShortcut
		.text Sample
	.tableShortcut
		.text Germlasm
	.tableShortcut
		.text Species
	.tableShortcut.institution
		.sub.sub-main
			|Institution
		.sub.sub-as
			|as:
		.sub.sub-sub
			|Donor
		.sub.sub-sub
			|Affiliation
		.sub.sub-sub
			|Holding Institution
		.sub.sub-sub
			|Observation Var.
	.tableShortcut
		.text Crop
	.tableShortcut.person
		.sub.sub-main
			|Person
		.sub.sub-as
			|as:
		.sub.sub-sub
			|LeadPerson
		.sub.sub-sub
			|Contact
		.sub.sub-sub
			|Operator
		.sub.sub-sub
			|Uploader
		.sub.sub-sub
			|Sampler					