extends layout

block content
  h1= title
  p Welcome to #{title}
  p This is the root page for the BrAPI implementation of the PT-Node.
  p Implemented calls:
  span(style='margin-left:10px;background-color: grey;') brapi/v1/investigation/investigationID
  p Auth (Soon)
  span(style='margin-left:10px;background-color: grey;') brapi/v1/authentication
