doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body(style="background: #f9f9f9;")
    .header   
      h1(style="margin:0px;margin-left:20px;position:absolute;bottom:10px;")= title
    .menu 
      span.menuItem1 Login	
    .content
      block content
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js")
    script(src="/javascripts/actions.js")


