extends layout

block content
  .container.min-vw-100.vw-100
    form
    .form-group
      label(for='exampleFormControlInput1') Set Study Title
      input#exampleFormControlInput1.form-control.form-control-lg(type='text', placeholder='Phenotyping of some sort')
      a.btn.btn-primary(role="button",href="/phenotyping/plant/set/1/1/1/1/1") Enter data
