extends layout

block content
  link(rel='stylesheet',href="/stylesheets/phenotyping.css")
  script(id="phenotyping",src="/javascripts/phenotyping.js",defer)  
  .flex-fill
    form
    .form-group
      label(for='exampleFormControlInput1') Set Study Title
      input#exampleFormControlInput1.form-control.form-control-lg(type='text', placeholder='Phenotyping of some sort')
      a.btn.btn-primary(role="button",href="/phenotyping/plant/set/1/1/1/1/1") Enter data
  .card
    .card-header  
      | Mapping
    .card-body
      .form-group
        .pocket-progress
        label.sr-only(for="augment-file") Upload file
        input(hidden,type="file",id="augment-file",placeholder="tsv file",required="",autofocus="",autocomplete="off",name="uploads[]", accept="mime/*,.tsv",study-id=study_id)
      button.btn.btn-success.btn-block.upload-augment-file(type="button") Upload Mapping
  .card
    .card-header  
      | Study design
    .card-body
      .d-flex    
        .form-group.p-2
          label(for='blocks') Number of blocks: 
          input#blocks(type="number",min=0,value=0)
        .form-group.p-2
          label(for='rows') Number of rows per block: 
          input#rows(type="number",min=0,value=0) 
        .form-group.p-2
          label(for='cols') Number of columns per block: 
          input#cols(type="number",min=0,value=0)
    .card-body.bg-secondary
      .study-design

