body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    margin: 0px;
}
.header{
    position:relative;
    color:white;
    background-color: #263238;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.26);
    height:100px;
}
.header .tiny-logo-header{
	position: absolute;
    right: 30px;
    bottom: 15px;
}
a{
  color: #00B7FF;
}
.menu{
	position: relative; 
	height:38px;
	background-color: #EEEEEE;
	border-bottom: 1px solid #e5e5e5;
}
.content {
	margin: 40px;
  padding: 30px;
  border: 1px solid rgba(204, 203, 203, 0.8);
  border-radius: 3px;
  background-color: white;
  box-shadow: 0px 4px 5px black;
}
.content .error {
  background-image: url(/images/venus_flytrap.png);
  width: 100%; 
  height: 500px;
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
}

.content pre{
  background-color: #ffffffc7;
}

.content .logo{
  background-image: url(/images/pheno-portrait.png);
  width: 450px;
  height: 192px;
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  float: right;
  padding-bottom: 10px;
  margin-left: 20px;
}
.content .description{
  text-align: justify;
}

.footer{
  background: #505659;
  color: white;
  padding: 20px;
  height: 500px;
  border-top: 5px solid grey;
}

.footer .incd{
  background-image: url(/images/INCDlogo.png);
  background-size:100%;
  width: 160px;
  height: 80px;
  float:left;
}
.footer .eu{
  float:left;
  width:257px;
}

.footer .eu .logo{
  background-size: 100%;
  background-image: url(/images/EU_flag_footer.png);
  width: 100px;
  height: 70px;
  float: left;
  text-align: justify;
  background-position: center;
  margin-right: 10px;
}
.footer .eu p{
  font-size: 10px;
}
.footer .biodata{
    background-image: url(/images/biodata_toplogo_79h.png);
    height: 60px;
    width:350px;
    margin:10px;
    float:left;
    background-position: center;
}
.footer .excelerate{
  background-image: url(/images/excelerate-logo.png);
  background-size: 100%;
  width: 175px;
  background-position: center;
  height: 70px;
  float: left;
  background-repeat: no-repeat;
}